<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {%block leaflet %}
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Custom CSS -->
    <style>
        th, td {
            text-align: center;
            padding: 10px 20px;
            font-size: 25px;
            border: 1px solid black;
        }
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            border: 2px solid black;
        }
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span class="navbar-brand" style = "font-size: 36px; font-family:Roboto Bold; font-weight: bold; color: #ffc400;">Too Good 2 Waste</span>
        <div class="navbar-nav ml-auto">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/input-data">Register Items</a>
        <a class="navbar-brand" href="/store-input">Create Store</a>
        <a class="navbar-brand" href="/bank-input">Create Food Bank</a>
        <a class="navbar-brand" href="/store-view">View Stores</a>
        <a class="navbar-brand" href="/bank-view">View Food Banks</a>
        <a class="navbar-brand" href="/inventory">View Inventory</a>
        <a class="navbar-brand" href="/map">Map</a>
        </div>
    </nav>
    <div>
    {% block content %}
    
    {% endblock %}
    </div>
    <script src="../static/index.js"></script>
</body>
</html>