{% extends "base.html" %} {% block title %}Input Data{% endblock %} 
{% block content%}
<style>.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Adjust as needed */
  }
  
  .content {
    flex: 1; /* This allows the content to expand to fill remaining space */
  }</style>
<div class="container">
<div class = "content" style = "background-image: url('https://cdn.discordapp.com/attachments/1150144609087922276/1236738004010139648/photo-1615897570582-285ffe259530.png?ex=66391985&is=6637c805&hm=89aeafa906cdc241c64dd5e88123e011701cb10b7e366da87405735e3f6111b9&') 
;">

</div>
</div>
{% endblock %}